/* Basic styling */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FBF1E3;
  }
  
  h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  /* File upload section */
  #fileInput {
    display: block;
    margin-bottom: 10px;
  }
  
  #fileOutput {
    margin-bottom: 20px;
  }
  
  /* Code paste section */
  #codeInput {
    display: block;
    width: 60%;
    resize: vertical;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  #calculateComplexity {
    display: block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #codeOutput {
    /* Add styles for the code output here */
  }

  #button {
    width: 30%;
  }